.news-card {
	transition: box-shadow 0.3s ease;
}
.news-card:hover {
	box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.25);
}

.news-card__link,
.news-card__content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.news-card__picture {
	height: 264px;
}

.picture-wrapper {
	margin-bottom: 35px;
}

.group-category,
.category__list {
	display: flex;
	align-items: center;
}

.group-category {
	margin-bottom: 12px;
}

.category__list {
	&__item {
		color: var(--color-secondary);
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}

.data-news {
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--color-complementary);
	margin-left: 30px;
}

.news-card__text {
	flex: 1 1 auto;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.35;
	margin-bottom: 46px;
}

.icon-arrow-diag {
	width: 24px;
	height: 20px;
	transform: rotate(135deg);
}
