.one-news {
	padding-top: 75px;
	padding-bottom: 135px;
}

.one-news__container {
	max-width: 985px;
}

.one-news .group-category {
	border-bottom: 2px solid var(--color-primary);
	padding-bottom: 13px;
}

.one-news__content {
	padding-top: 40px;
	padding-bottom: 70px;
}

.icon-play {
	width: 38px;
	height: 38px;
}
