<div class="pagination">
	<div class="pagination__inner">
		<ul class="pagination__list">
			<li class="pagination__list__item active"><span>1</span></li>
			<li class="pagination__list__item"><span>2</span></li>
			<li class="pagination__list__item"><span>3</span></li>
			<li class="pagination__list__item"><span>4</span></li>
			<li class="pagination__list__item"><span>...</span></li>
			<li class="pagination__list__item"><span>123</span></li>
		</ul>
		<div class="pagination__control">
			<button class="pagination__control__prev">
				<svg class="icon-arrow-diag">
					<use xlink:href="./img/sprites/s-mono.svg#arrow-diag"></use>
				</svg>
			</button>
			<button class="pagination__control__next active">
				<svg class="icon-arrow-diag">
					<use xlink:href="./img/sprites/s-mono.svg#arrow-diag"></use>
				</svg>
			</button>
		</div>
	</div>
</div>
