<section class="welcome">
	<div class="container">
		<div class="picture-wrapper">
			<picture>
				<source srcset="./img/image.webp" type="image/webp" />
				<source srcset="./img/image.jpg" />
				<img src="./img/image.jpg" alt="" />
			</picture>
		</div>

		<div class="block-name">Фоновая картинка</div>
		<div class="block-icons">
			Спрайт svg моно-иконок {% include
			'../../components/icons-group/icons-group-mono.html' %}
		</div>
		<div class="block-icons">
			Спрайт svg мулти-иконок {% include
			'../../components/icons-group/icons-group-multi.html' %}
		</div>
		<h2 style="text-align: center; margin-bottom: 15px">
			Список картинок берутся из JSON
		</h2>
		<ul class="gallery__list">
			<!-- Loops through "images" array -->
			{% for image in images %}
			<li class="gallery__item">
				<img src="{{image.src}}" alt="{{image.alt}}" />
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
