@font-face {
	font-family: "Frank";
	src: url("../fonts/Frank-Light.woff2") format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Frank";
	src: url("../fonts/Frank-Regular.woff2") format("woff2");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Frank";
	src: url("../fonts/Frank-Bold.woff2") format("woff2");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
